# Sakila DataBase

charger la base de données Sakila via cette url :

https://dev.mysql.com/doc/index-other.html

https://dev.mysql.com/doc/sakila/en/

In [1]:
import sqlalchemy
from sqlalchemy import create_engine
#from sqlalchemy_utils import create_database, database_exists

In [2]:
engine=create_engine('mysql://root:azerty012345@localhost/sakila')

Afficher les 5 premiers Records de la table Actor

In [3]:
con=engine.execute("select * from actor limit 5;")
for row in con:
    print (row)

(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33))
(3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33))

Récupérer dans une colonne Actor_Name le full_name des acteurs sous le format: first_name + " " + last_name

In [4]:
con=engine.execute("select first_name, last_name, concat(first_name,' ',last_name) as Actor_name from actor;")
for row in con:
    print (row)

('PENELOPE', 'GUINESS', 'PENELOPE GUINESS')
('NICK', 'WAHLBERG', 'NICK WAHLBERG')
('ED', 'CHASE', 'ED CHASE')
('JENNIFER', 'DAVIS', 'JENNIFER DAVIS')
('JOHNNY', 'LOLLOBRIGIDA', 'JOHNNY LOLLOBRIGIDA')
('BETTE', 'NICHOLSON', 'BETTE NICHOLSON')
('GRACE', 'MOSTEL', 'GRACE MOSTEL')
('MATTHEW', 'JOHANSSON', 'MATTHEW JOHANSSON')
('JOE', 'SWANK', 'JOE SWANK')
('CHRISTIAN', 'GABLE', 'CHRISTIAN GABLE')
('ZERO', 'CAGE', 'ZERO CAGE')
('KARL', 'BERRY', 'KARL BERRY')
('UMA', 'WOOD', 'UMA WOOD')
('VIVIEN', 'BERGEN', 'VIVIEN BERGEN')
('CUBA', 'OLIVIER', 'CUBA OLIVIER')
('FRED', 'COSTNER', 'FRED COSTNER')
('HELEN', 'VOIGHT', 'HELEN VOIGHT')
('DAN', 'TORN', 'DAN TORN')
('BOB', 'FAWCETT', 'BOB FAWCETT')
('LUCILLE', 'TRACY', 'LUCILLE TRACY')
('KIRSTEN', 'PALTROW', 'KIRSTEN PALTROW')
('ELVIS', 'MARX', 'ELVIS MARX')
('SANDRA', 'KILMER', 'SANDRA KILMER')
('CAMERON', 'STREEP', 'CAMERON STREEP')
('KEVIN', 'BLOOM', 'KEVIN BLOOM')
('RIP', 'CRAWFORD', 'RIP CRAWFORD')
('JULIA', 'MCQUEEN', 'JULIA MCQUEEN')
('WOODY', 'HOFFMAN', 'WOODY HOFFMAN')
('ALEC', 'WAYNE', 'ALEC WAYNE')
('SANDRA', 'PECK', 'SANDRA PECK')
('SISSY', 'SOBIESKI', 'SISSY SOBIESKI')
('TIM', 'HACKMAN', 'TIM HACKMAN')
('MILLA', 'PECK', 'MILLA PECK')
('AUDREY', 'OLIVIER', 'AUDREY OLIVIER')
('JUDY', 'DEAN', 'JUDY DEAN')
('BURT', 'DUKAKIS', 'BURT DUKAKIS')
('VAL', 'BOLGER', 'VAL BOLGER')
('TOM', 'MCKELLEN', 'TOM MCKELLEN')
('GOLDIE', 'BRODY', 'GOLDIE BRODY')
('JOHNNY', 'CAGE', 'JOHNNY CAGE')
('JODIE', 'DEGENERES', 'JODIE DEGENERES')
('TOM', 'MIRANDA', 'TOM MIRANDA')
('KIRK', 'JOVOVICH', 'KIRK JOVOVICH')
('NICK', 'STALLONE', 'NICK STALLONE')
('REESE', 'KILMER', 'REESE KILMER')
('PARKER', 'GOLDBERG', 'PARKER GOLDBERG')
('JULIA', 'BARRYMORE', 'JULIA BARRYMORE')
('FRANCES', 'DAY-LEWIS', 'FRANCES DAY-LEWIS')
('ANNE', 'CRONYN', 'ANNE CRONYN')
('NATALIE', 'HOPKINS', 'NATALIE HOPKINS')
('GARY', 'PHOENIX', 'GARY PHOENIX')
('CARMEN', 'HUNT', 'CARMEN HUNT')
('MENA', 'TEMPLE', 'MENA TEMPLE')
('PENELOPE', 'PINKETT', 'PENELOPE PINKETT')
('FAY', 'KILMER', 'FAY KILMER')
('DAN', 'HARRIS', 'DAN HARRIS')
('JUDE', 'CRUISE', 'JUDE CRUISE')
('CHRISTIAN', 'AKROYD', 'CHRISTIAN AKROYD')
('DUSTIN', 'TAUTOU', 'DUSTIN TAUTOU')
('HENRY', 'BERRY', 'HENRY BERRY')
('CHRISTIAN', 'NEESON', 'CHRISTIAN NEESON')
('JAYNE', 'NEESON', 'JAYNE NEESON')
('CAMERON', 'WRAY', 'CAMERON WRAY')
('RAY', 'JOHANSSON', 'RAY JOHANSSON')
('ANGELA', 'HUDSON', 'ANGELA HUDSON')
('MARY', 'TANDY', 'MARY TANDY')
('JESSICA', 'BAILEY', 'JESSICA BAILEY')
('RIP', 'WINSLET', 'RIP WINSLET')
('KENNETH', 'PALTROW', 'KENNETH PALTROW')
('MICHELLE', 'MCCONAUGHEY', 'MICHELLE MCCONAUGHEY')
('ADAM', 'GRANT', 'ADAM GRANT')
('SEAN', 'WILLIAMS', 'SEAN WILLIAMS')
('GARY', 'PENN', 'GARY PENN')
('MILLA', 'KEITEL', 'MILLA KEITEL')
('BURT', 'POSEY', 'BURT POSEY')
('ANGELINA', 'ASTAIRE', 'ANGELINA ASTAIRE')
('CARY', 'MCCONAUGHEY', 'CARY MCCONAUGHEY')
('GROUCHO', 'SINATRA', 'GROUCHO SINATRA')
('MAE', 'HOFFMAN', 'MAE HOFFMAN')
('RALPH', 'CRUZ', 'RALPH CRUZ')
('SCARLETT', 'DAMON', 'SCARLETT DAMON')
('WOODY', 'JOLIE', 'WOODY JOLIE')
('BEN', 'WILLIS', 'BEN WILLIS')
('JAMES', 'PITT', 'JAMES PITT')
('MINNIE', 'ZELLWEGER', 'MINNIE ZELLWEGER')
('GREG', 'CHAPLIN', 'GREG CHAPLIN')
('SPENCER', 'PECK', 'SPENCER PECK')
('KENNETH', 'PESCI', 'KENNETH PESCI')
('CHARLIZE', 'DENCH', 'CHARLIZE DENCH')
('SEAN', 'GUINESS', 'SEAN GUINESS')
('CHRISTOPHER', 'BERRY', 'CHRISTOPHER BERRY')
('KIRSTEN', 'AKROYD', 'KIRSTEN AKROYD')
('ELLEN', 'PRESLEY', 'ELLEN PRESLEY')
('KENNETH', 'TORN', 'KENNETH TORN')
('DARYL', 'WAHLBERG', 'DARYL WAHLBERG')
('GENE', 'WILLIS', 'GENE WILLIS')
('MEG', 'HAWKE', 'MEG HAWKE')
('CHRIS', 'BRIDGES', 'CHRIS BRIDGES')
('JIM', 'MOSTEL', 'JIM MOSTEL')
('SPENCER', 'DEPP', 'SPENCER DEPP')
('SUSAN', 'DAVIS', 'SUSAN DAVIS')
('WALTER', 'TORN', 'WALTER TORN')
('MATTHEW', 'LEIGH', 'MATTHEW LEIGH')
('PENELOPE', 'CRONYN', 'PENELOPE CRONYN')
('SIDNEY', 'CROWE', 'SIDNEY CROWE')
('GROUCHO', 'DUNST', 'GROUCHO DUNST')
('GINA', 'DEGENERES', 'GINA DEGENERES')
('WARREN', 'NOLTE', 'WARREN NOLTE')
('SYLVESTER', 'DERN', 'SYLVESTER DERN')
('SUSAN', 'DAVIS', 'SUSAN DAVIS')
('CAMERON', 'ZELLWEGER', 'CAMERON ZELLWEGER')
('RUSSELL', 'BACALL', 'RUSSELL BACALL')
('MORGAN', 'HOPKINS', 'MORGAN HOPKINS')
('MORGAN', 'MCDORMAND', 'MORGAN MCDORMAND')
('HARRISON', 'BALE', 'HARRISON BALE')
('DAN', 'STREEP', 'DAN STREEP')
('RENEE', 'TRACY', 'RENEE TRACY')
('CUBA', 'ALLEN', 'CUBA ALLEN')
('WARREN', 'JACKMAN', 'WARREN JACKMAN')
('PENELOPE', 'MONROE', 'PENELOPE MONROE')
('LIZA', 'BERGMAN', 'LIZA BERGMAN')
('SALMA', 'NOLTE', 'SALMA NOLTE')
('JULIANNE', 'DENCH', 'JULIANNE DENCH')
('SCARLETT', 'BENING', 'SCARLETT BENING')
('ALBERT', 'NOLTE', 'ALBERT NOLTE')
('FRANCES', 'TOMEI', 'FRANCES TOMEI')
('KEVIN', 'GARLAND', 'KEVIN GARLAND')
('CATE', 'MCQUEEN', 'CATE MCQUEEN')
('DARYL', 'CRAWFORD', 'DARYL CRAWFORD')
('GRETA', 'KEITEL', 'GRETA KEITEL')
('JANE', 'JACKMAN', 'JANE JACKMAN')
('ADAM', 'HOPPER', 'ADAM HOPPER')
('RICHARD', 'PENN', 'RICHARD PENN')
('GENE', 'HOPKINS', 'GENE HOPKINS')
('RITA', 'REYNOLDS', 'RITA REYNOLDS')
('ED', 'MANSFIELD', 'ED MANSFIELD')
('MORGAN', 'WILLIAMS', 'MORGAN WILLIAMS')
('LUCILLE', 'DEE', 'LUCILLE DEE')
('EWAN', 'GOODING', 'EWAN GOODING')
('WHOOPI', 'HURT', 'WHOOPI HURT')
('CATE', 'HARRIS', 'CATE HARRIS')
('JADA', 'RYDER', 'JADA RYDER')
('RIVER', 'DEAN', 'RIVER DEAN')
('ANGELA', 'WITHERSPOON', 'ANGELA WITHERSPOON')
('KIM', 'ALLEN', 'KIM ALLEN')
('ALBERT', 'JOHANSSON', 'ALBERT JOHANSSON')
('FAY', 'WINSLET', 'FAY WINSLET')
('EMILY', 'DEE', 'EMILY DEE')
('RUSSELL', 'TEMPLE', 'RUSSELL TEMPLE')
('JAYNE', 'NOLTE', 'JAYNE NOLTE')
('GEOFFREY', 'HESTON', 'GEOFFREY HESTON')
('BEN', 'HARRIS', 'BEN HARRIS')
('MINNIE', 'KILMER', 'MINNIE KILMER')
('MERYL', 'GIBSON', 'MERYL GIBSON')
('IAN', 'TANDY', 'IAN TANDY')
('FAY', 'WOOD', 'FAY WOOD')
('GRETA', 'MALDEN', 'GRETA MALDEN')
('VIVIEN', 'BASINGER', 'VIVIEN BASINGER')
('LAURA', 'BRODY', 'LAURA BRODY')
('CHRIS', 'DEPP', 'CHRIS DEPP')
('HARVEY', 'HOPE', 'HARVEY HOPE')
('OPRAH', 'KILMER', 'OPRAH KILMER')
('CHRISTOPHER', 'WEST', 'CHRISTOPHER WEST')
('HUMPHREY', 'WILLIS', 'HUMPHREY WILLIS')
('AL', 'GARLAND', 'AL GARLAND')
('NICK', 'DEGENERES', 'NICK DEGENERES')
('LAURENCE', 'BULLOCK', 'LAURENCE BULLOCK')
('WILL', 'WILSON', 'WILL WILSON')
('KENNETH', 'HOFFMAN', 'KENNETH HOFFMAN')
('MENA', 'HOPPER', 'MENA HOPPER')
('OLYMPIA', 'PFEIFFER', 'OLYMPIA PFEIFFER')
('GROUCHO', 'WILLIAMS', 'GROUCHO WILLIAMS')
('ALAN', 'DREYFUSS', 'ALAN DREYFUSS')
('MICHAEL', 'BENING', 'MICHAEL BENING')
('WILLIAM', 'HACKMAN', 'WILLIAM HACKMAN')
('JON', 'CHASE', 'JON CHASE')
('GENE', 'MCKELLEN', 'GENE MCKELLEN')
('LISA', 'MONROE', 'LISA MONROE')
('ED', 'GUINESS', 'ED GUINESS')
('JEFF', 'SILVERSTONE', 'JEFF SILVERSTONE')
('MATTHEW', 'CARREY', 'MATTHEW CARREY')
('DEBBIE', 'AKROYD', 'DEBBIE AKROYD')
('RUSSELL', 'CLOSE', 'RUSSELL CLOSE')
('HUMPHREY', 'GARLAND', 'HUMPHREY GARLAND')
('MICHAEL', 'BOLGER', 'MICHAEL BOLGER')
('JULIA', 'ZELLWEGER', 'JULIA ZELLWEGER')
('RENEE', 'BALL', 'RENEE BALL')
('ROCK', 'DUKAKIS', 'ROCK DUKAKIS')
('CUBA', 'BIRCH', 'CUBA BIRCH')
('AUDREY', 'BAILEY', 'AUDREY BAILEY')
('GREGORY', 'GOODING', 'GREGORY GOODING')
('JOHN', 'SUVARI', 'JOHN SUVARI')
('BURT', 'TEMPLE', 'BURT TEMPLE')
('MERYL', 'ALLEN', 'MERYL ALLEN')
('JAYNE', 'SILVERSTONE', 'JAYNE SILVERSTONE')
('BELA', 'WALKEN', 'BELA WALKEN')
('REESE', 'WEST', 'REESE WEST')
('MARY', 'KEITEL', 'MARY KEITEL')
('JULIA', 'FAWCETT', 'JULIA FAWCETT')
('THORA', 'TEMPLE', 'THORA TEMPLE')

Récupérer dans une colonne Actor_Name le full_name des acteurs sous le format: first_name en minuscule + "." + last_name en majuscule

In [6]:
con=engine.execute("select first_name, last_name, concat(lower(first_name),' ',upper(last_name)) as Actor_name from actor;")
for row in con:
    print (row)

('PENELOPE', 'GUINESS', 'penelope GUINESS')
('NICK', 'WAHLBERG', 'nick WAHLBERG')
('ED', 'CHASE', 'ed CHASE')
('JENNIFER', 'DAVIS', 'jennifer DAVIS')
('JOHNNY', 'LOLLOBRIGIDA', 'johnny LOLLOBRIGIDA')
('BETTE', 'NICHOLSON', 'bette NICHOLSON')
('GRACE', 'MOSTEL', 'grace MOSTEL')
('MATTHEW', 'JOHANSSON', 'matthew JOHANSSON')
('JOE', 'SWANK', 'joe SWANK')
('CHRISTIAN', 'GABLE', 'christian GABLE')
('ZERO', 'CAGE', 'zero CAGE')
('KARL', 'BERRY', 'karl BERRY')
('UMA', 'WOOD', 'uma WOOD')
('VIVIEN', 'BERGEN', 'vivien BERGEN')
('CUBA', 'OLIVIER', 'cuba OLIVIER')
('FRED', 'COSTNER', 'fred COSTNER')
('HELEN', 'VOIGHT', 'helen VOIGHT')
('DAN', 'TORN', 'dan TORN')
('BOB', 'FAWCETT', 'bob FAWCETT')
('LUCILLE', 'TRACY', 'lucille TRACY')
('KIRSTEN', 'PALTROW', 'kirsten PALTROW')
('ELVIS', 'MARX', 'elvis MARX')
('SANDRA', 'KILMER', 'sandra KILMER')
('CAMERON', 'STREEP', 'cameron STREEP')
('KEVIN', 'BLOOM', 'kevin BLOOM')
('RIP', 'CRAWFORD', 'rip CRAWFORD')
('JULIA', 'MCQUEEN', 'julia MCQUEEN')
('WOODY', 'HOFFMAN', 'woody HOFFMAN')
('ALEC', 'WAYNE', 'alec WAYNE')
('SANDRA', 'PECK', 'sandra PECK')
('SISSY', 'SOBIESKI', 'sissy SOBIESKI')
('TIM', 'HACKMAN', 'tim HACKMAN')
('MILLA', 'PECK', 'milla PECK')
('AUDREY', 'OLIVIER', 'audrey OLIVIER')
('JUDY', 'DEAN', 'judy DEAN')
('BURT', 'DUKAKIS', 'burt DUKAKIS')
('VAL', 'BOLGER', 'val BOLGER')
('TOM', 'MCKELLEN', 'tom MCKELLEN')
('GOLDIE', 'BRODY', 'goldie BRODY')
('JOHNNY', 'CAGE', 'johnny CAGE')
('JODIE', 'DEGENERES', 'jodie DEGENERES')
('TOM', 'MIRANDA', 'tom MIRANDA')
('KIRK', 'JOVOVICH', 'kirk JOVOVICH')
('NICK', 'STALLONE', 'nick STALLONE')
('REESE', 'KILMER', 'reese KILMER')
('PARKER', 'GOLDBERG', 'parker GOLDBERG')
('JULIA', 'BARRYMORE', 'julia BARRYMORE')
('FRANCES', 'DAY-LEWIS', 'frances DAY-LEWIS')
('ANNE', 'CRONYN', 'anne CRONYN')
('NATALIE', 'HOPKINS', 'natalie HOPKINS')
('GARY', 'PHOENIX', 'gary PHOENIX')
('CARMEN', 'HUNT', 'carmen HUNT')
('MENA', 'TEMPLE', 'mena TEMPLE')
('PENELOPE', 'PINKETT', 'penelope PINKETT')
('FAY', 'KILMER', 'fay KILMER')
('DAN', 'HARRIS', 'dan HARRIS')
('JUDE', 'CRUISE', 'jude CRUISE')
('CHRISTIAN', 'AKROYD', 'christian AKROYD')
('DUSTIN', 'TAUTOU', 'dustin TAUTOU')
('HENRY', 'BERRY', 'henry BERRY')
('CHRISTIAN', 'NEESON', 'christian NEESON')
('JAYNE', 'NEESON', 'jayne NEESON')
('CAMERON', 'WRAY', 'cameron WRAY')
('RAY', 'JOHANSSON', 'ray JOHANSSON')
('ANGELA', 'HUDSON', 'angela HUDSON')
('MARY', 'TANDY', 'mary TANDY')
('JESSICA', 'BAILEY', 'jessica BAILEY')
('RIP', 'WINSLET', 'rip WINSLET')
('KENNETH', 'PALTROW', 'kenneth PALTROW')
('MICHELLE', 'MCCONAUGHEY', 'michelle MCCONAUGHEY')
('ADAM', 'GRANT', 'adam GRANT')
('SEAN', 'WILLIAMS', 'sean WILLIAMS')
('GARY', 'PENN', 'gary PENN')
('MILLA', 'KEITEL', 'milla KEITEL')
('BURT', 'POSEY', 'burt POSEY')
('ANGELINA', 'ASTAIRE', 'angelina ASTAIRE')
('CARY', 'MCCONAUGHEY', 'cary MCCONAUGHEY')
('GROUCHO', 'SINATRA', 'groucho SINATRA')
('MAE', 'HOFFMAN', 'mae HOFFMAN')
('RALPH', 'CRUZ', 'ralph CRUZ')
('SCARLETT', 'DAMON', 'scarlett DAMON')
('WOODY', 'JOLIE', 'woody JOLIE')
('BEN', 'WILLIS', 'ben WILLIS')
('JAMES', 'PITT', 'james PITT')
('MINNIE', 'ZELLWEGER', 'minnie ZELLWEGER')
('GREG', 'CHAPLIN', 'greg CHAPLIN')
('SPENCER', 'PECK', 'spencer PECK')
('KENNETH', 'PESCI', 'kenneth PESCI')
('CHARLIZE', 'DENCH', 'charlize DENCH')
('SEAN', 'GUINESS', 'sean GUINESS')
('CHRISTOPHER', 'BERRY', 'christopher BERRY')
('KIRSTEN', 'AKROYD', 'kirsten AKROYD')
('ELLEN', 'PRESLEY', 'ellen PRESLEY')
('KENNETH', 'TORN', 'kenneth TORN')
('DARYL', 'WAHLBERG', 'daryl WAHLBERG')
('GENE', 'WILLIS', 'gene WILLIS')
('MEG', 'HAWKE', 'meg HAWKE')
('CHRIS', 'BRIDGES', 'chris BRIDGES')
('JIM', 'MOSTEL', 'jim MOSTEL')
('SPENCER', 'DEPP', 'spencer DEPP')
('SUSAN', 'DAVIS', 'susan DAVIS')
('WALTER', 'TORN', 'walter TORN')
('MATTHEW', 'LEIGH', 'matthew LEIGH')
('PENELOPE', 'CRONYN', 'penelope CRONYN')
('SIDNEY', 'CROWE', 'sidney CROWE')
('GROUCHO', 'DUNST', 'groucho DUNST')
('GINA', 'DEGENERES', 'gina DEGENERES')
('WARREN', 'NOLTE', 'warren NOLTE')
('SYLVESTER', 'DERN', 'sylvester DERN')
('SUSAN', 'DAVIS', 'susan DAVIS')
('CAMERON', 'ZELLWEGER', 'cameron ZELLWEGER')
('RUSSELL', 'BACALL', 'russell BACALL')
('MORGAN', 'HOPKINS', 'morgan HOPKINS')
('MORGAN', 'MCDORMAND', 'morgan MCDORMAND')
('HARRISON', 'BALE', 'harrison BALE')
('DAN', 'STREEP', 'dan STREEP')
('RENEE', 'TRACY', 'renee TRACY')
('CUBA', 'ALLEN', 'cuba ALLEN')
('WARREN', 'JACKMAN', 'warren JACKMAN')
('PENELOPE', 'MONROE', 'penelope MONROE')
('LIZA', 'BERGMAN', 'liza BERGMAN')
('SALMA', 'NOLTE', 'salma NOLTE')
('JULIANNE', 'DENCH', 'julianne DENCH')
('SCARLETT', 'BENING', 'scarlett BENING')
('ALBERT', 'NOLTE', 'albert NOLTE')
('FRANCES', 'TOMEI', 'frances TOMEI')
('KEVIN', 'GARLAND', 'kevin GARLAND')
('CATE', 'MCQUEEN', 'cate MCQUEEN')
('DARYL', 'CRAWFORD', 'daryl CRAWFORD')
('GRETA', 'KEITEL', 'greta KEITEL')
('JANE', 'JACKMAN', 'jane JACKMAN')
('ADAM', 'HOPPER', 'adam HOPPER')
('RICHARD', 'PENN', 'richard PENN')
('GENE', 'HOPKINS', 'gene HOPKINS')
('RITA', 'REYNOLDS', 'rita REYNOLDS')
('ED', 'MANSFIELD', 'ed MANSFIELD')
('MORGAN', 'WILLIAMS', 'morgan WILLIAMS')
('LUCILLE', 'DEE', 'lucille DEE')
('EWAN', 'GOODING', 'ewan GOODING')
('WHOOPI', 'HURT', 'whoopi HURT')
('CATE', 'HARRIS', 'cate HARRIS')
('JADA', 'RYDER', 'jada RYDER')
('RIVER', 'DEAN', 'river DEAN')
('ANGELA', 'WITHERSPOON', 'angela WITHERSPOON')
('KIM', 'ALLEN', 'kim ALLEN')
('ALBERT', 'JOHANSSON', 'albert JOHANSSON')
('FAY', 'WINSLET', 'fay WINSLET')
('EMILY', 'DEE', 'emily DEE')
('RUSSELL', 'TEMPLE', 'russell TEMPLE')
('JAYNE', 'NOLTE', 'jayne NOLTE')
('GEOFFREY', 'HESTON', 'geoffrey HESTON')
('BEN', 'HARRIS', 'ben HARRIS')
('MINNIE', 'KILMER', 'minnie KILMER')
('MERYL', 'GIBSON', 'meryl GIBSON')
('IAN', 'TANDY', 'ian TANDY')
('FAY', 'WOOD', 'fay WOOD')
('GRETA', 'MALDEN', 'greta MALDEN')
('VIVIEN', 'BASINGER', 'vivien BASINGER')
('LAURA', 'BRODY', 'laura BRODY')
('CHRIS', 'DEPP', 'chris DEPP')
('HARVEY', 'HOPE', 'harvey HOPE')
('OPRAH', 'KILMER', 'oprah KILMER')
('CHRISTOPHER', 'WEST', 'christopher WEST')
('HUMPHREY', 'WILLIS', 'humphrey WILLIS')
('AL', 'GARLAND', 'al GARLAND')
('NICK', 'DEGENERES', 'nick DEGENERES')
('LAURENCE', 'BULLOCK', 'laurence BULLOCK')
('WILL', 'WILSON', 'will WILSON')
('KENNETH', 'HOFFMAN', 'kenneth HOFFMAN')
('MENA', 'HOPPER', 'mena HOPPER')
('OLYMPIA', 'PFEIFFER', 'olympia PFEIFFER')
('GROUCHO', 'WILLIAMS', 'groucho WILLIAMS')
('ALAN', 'DREYFUSS', 'alan DREYFUSS')
('MICHAEL', 'BENING', 'michael BENING')
('WILLIAM', 'HACKMAN', 'william HACKMAN')
('JON', 'CHASE', 'jon CHASE')
('GENE', 'MCKELLEN', 'gene MCKELLEN')
('LISA', 'MONROE', 'lisa MONROE')
('ED', 'GUINESS', 'ed GUINESS')
('JEFF', 'SILVERSTONE', 'jeff SILVERSTONE')
('MATTHEW', 'CARREY', 'matthew CARREY')
('DEBBIE', 'AKROYD', 'debbie AKROYD')
('RUSSELL', 'CLOSE', 'russell CLOSE')
('HUMPHREY', 'GARLAND', 'humphrey GARLAND')
('MICHAEL', 'BOLGER', 'michael BOLGER')
('JULIA', 'ZELLWEGER', 'julia ZELLWEGER')
('RENEE', 'BALL', 'renee BALL')
('ROCK', 'DUKAKIS', 'rock DUKAKIS')
('CUBA', 'BIRCH', 'cuba BIRCH')
('AUDREY', 'BAILEY', 'audrey BAILEY')
('GREGORY', 'GOODING', 'gregory GOODING')
('JOHN', 'SUVARI', 'john SUVARI')
('BURT', 'TEMPLE', 'burt TEMPLE')
('MERYL', 'ALLEN', 'meryl ALLEN')
('JAYNE', 'SILVERSTONE', 'jayne SILVERSTONE')
('BELA', 'WALKEN', 'bela WALKEN')
('REESE', 'WEST', 'reese WEST')
('MARY', 'KEITEL', 'mary KEITEL')
('JULIA', 'FAWCETT', 'julia FAWCETT')
('THORA', 'TEMPLE', 'thora TEMPLE')

Récupérer dans une colonne Actor_Name le full_name des acteurs sous le format: last_name en majuscule + "." + premiere lettre du first_name en majuscule

In [7]:
con=engine.execute("select first_name, last_name, concat(concat(upper(left(first_name,1)),lower(substring(first_name,2))),' ' ,upper(last_name)) as Actor_name from actor;")
for row in con:
    print (row)

('PENELOPE', 'GUINESS', 'Penelope GUINESS')
('NICK', 'WAHLBERG', 'Nick WAHLBERG')
('ED', 'CHASE', 'Ed CHASE')
('JENNIFER', 'DAVIS', 'Jennifer DAVIS')
('JOHNNY', 'LOLLOBRIGIDA', 'Johnny LOLLOBRIGIDA')
('BETTE', 'NICHOLSON', 'Bette NICHOLSON')
('GRACE', 'MOSTEL', 'Grace MOSTEL')
('MATTHEW', 'JOHANSSON', 'Matthew JOHANSSON')
('JOE', 'SWANK', 'Joe SWANK')
('CHRISTIAN', 'GABLE', 'Christian GABLE')
('ZERO', 'CAGE', 'Zero CAGE')
('KARL', 'BERRY', 'Karl BERRY')
('UMA', 'WOOD', 'Uma WOOD')
('VIVIEN', 'BERGEN', 'Vivien BERGEN')
('CUBA', 'OLIVIER', 'Cuba OLIVIER')
('FRED', 'COSTNER', 'Fred COSTNER')
('HELEN', 'VOIGHT', 'Helen VOIGHT')
('DAN', 'TORN', 'Dan TORN')
('BOB', 'FAWCETT', 'Bob FAWCETT')
('LUCILLE', 'TRACY', 'Lucille TRACY')
('KIRSTEN', 'PALTROW', 'Kirsten PALTROW')
('ELVIS', 'MARX', 'Elvis MARX')
('SANDRA', 'KILMER', 'Sandra KILMER')
('CAMERON', 'STREEP', 'Cameron STREEP')
('KEVIN', 'BLOOM', 'Kevin BLOOM')
('RIP', 'CRAWFORD', 'Rip CRAWFORD')
('JULIA', 'MCQUEEN', 'Julia MCQUEEN')
('WOODY', 'HOFFMAN', 'Woody HOFFMAN')
('ALEC', 'WAYNE', 'Alec WAYNE')
('SANDRA', 'PECK', 'Sandra PECK')
('SISSY', 'SOBIESKI', 'Sissy SOBIESKI')
('TIM', 'HACKMAN', 'Tim HACKMAN')
('MILLA', 'PECK', 'Milla PECK')
('AUDREY', 'OLIVIER', 'Audrey OLIVIER')
('JUDY', 'DEAN', 'Judy DEAN')
('BURT', 'DUKAKIS', 'Burt DUKAKIS')
('VAL', 'BOLGER', 'Val BOLGER')
('TOM', 'MCKELLEN', 'Tom MCKELLEN')
('GOLDIE', 'BRODY', 'Goldie BRODY')
('JOHNNY', 'CAGE', 'Johnny CAGE')
('JODIE', 'DEGENERES', 'Jodie DEGENERES')
('TOM', 'MIRANDA', 'Tom MIRANDA')
('KIRK', 'JOVOVICH', 'Kirk JOVOVICH')
('NICK', 'STALLONE', 'Nick STALLONE')
('REESE', 'KILMER', 'Reese KILMER')
('PARKER', 'GOLDBERG', 'Parker GOLDBERG')
('JULIA', 'BARRYMORE', 'Julia BARRYMORE')
('FRANCES', 'DAY-LEWIS', 'Frances DAY-LEWIS')
('ANNE', 'CRONYN', 'Anne CRONYN')
('NATALIE', 'HOPKINS', 'Natalie HOPKINS')
('GARY', 'PHOENIX', 'Gary PHOENIX')
('CARMEN', 'HUNT', 'Carmen HUNT')
('MENA', 'TEMPLE', 'Mena TEMPLE')
('PENELOPE', 'PINKETT', 'Penelope PINKETT')
('FAY', 'KILMER', 'Fay KILMER')
('DAN', 'HARRIS', 'Dan HARRIS')
('JUDE', 'CRUISE', 'Jude CRUISE')
('CHRISTIAN', 'AKROYD', 'Christian AKROYD')
('DUSTIN', 'TAUTOU', 'Dustin TAUTOU')
('HENRY', 'BERRY', 'Henry BERRY')
('CHRISTIAN', 'NEESON', 'Christian NEESON')
('JAYNE', 'NEESON', 'Jayne NEESON')
('CAMERON', 'WRAY', 'Cameron WRAY')
('RAY', 'JOHANSSON', 'Ray JOHANSSON')
('ANGELA', 'HUDSON', 'Angela HUDSON')
('MARY', 'TANDY', 'Mary TANDY')
('JESSICA', 'BAILEY', 'Jessica BAILEY')
('RIP', 'WINSLET', 'Rip WINSLET')
('KENNETH', 'PALTROW', 'Kenneth PALTROW')
('MICHELLE', 'MCCONAUGHEY', 'Michelle MCCONAUGHEY')
('ADAM', 'GRANT', 'Adam GRANT')
('SEAN', 'WILLIAMS', 'Sean WILLIAMS')
('GARY', 'PENN', 'Gary PENN')
('MILLA', 'KEITEL', 'Milla KEITEL')
('BURT', 'POSEY', 'Burt POSEY')
('ANGELINA', 'ASTAIRE', 'Angelina ASTAIRE')
('CARY', 'MCCONAUGHEY', 'Cary MCCONAUGHEY')
('GROUCHO', 'SINATRA', 'Groucho SINATRA')
('MAE', 'HOFFMAN', 'Mae HOFFMAN')
('RALPH', 'CRUZ', 'Ralph CRUZ')
('SCARLETT', 'DAMON', 'Scarlett DAMON')
('WOODY', 'JOLIE', 'Woody JOLIE')
('BEN', 'WILLIS', 'Ben WILLIS')
('JAMES', 'PITT', 'James PITT')
('MINNIE', 'ZELLWEGER', 'Minnie ZELLWEGER')
('GREG', 'CHAPLIN', 'Greg CHAPLIN')
('SPENCER', 'PECK', 'Spencer PECK')
('KENNETH', 'PESCI', 'Kenneth PESCI')
('CHARLIZE', 'DENCH', 'Charlize DENCH')
('SEAN', 'GUINESS', 'Sean GUINESS')
('CHRISTOPHER', 'BERRY', 'Christopher BERRY')
('KIRSTEN', 'AKROYD', 'Kirsten AKROYD')
('ELLEN', 'PRESLEY', 'Ellen PRESLEY')
('KENNETH', 'TORN', 'Kenneth TORN')
('DARYL', 'WAHLBERG', 'Daryl WAHLBERG')
('GENE', 'WILLIS', 'Gene WILLIS')
('MEG', 'HAWKE', 'Meg HAWKE')
('CHRIS', 'BRIDGES', 'Chris BRIDGES')
('JIM', 'MOSTEL', 'Jim MOSTEL')
('SPENCER', 'DEPP', 'Spencer DEPP')
('SUSAN', 'DAVIS', 'Susan DAVIS')
('WALTER', 'TORN', 'Walter TORN')
('MATTHEW', 'LEIGH', 'Matthew LEIGH')
('PENELOPE', 'CRONYN', 'Penelope CRONYN')
('SIDNEY', 'CROWE', 'Sidney CROWE')
('GROUCHO', 'DUNST', 'Groucho DUNST')
('GINA', 'DEGENERES', 'Gina DEGENERES')
('WARREN', 'NOLTE', 'Warren NOLTE')
('SYLVESTER', 'DERN', 'Sylvester DERN')
('SUSAN', 'DAVIS', 'Susan DAVIS')
('CAMERON', 'ZELLWEGER', 'Cameron ZELLWEGER')
('RUSSELL', 'BACALL', 'Russell BACALL')
('MORGAN', 'HOPKINS', 'Morgan HOPKINS')
('MORGAN', 'MCDORMAND', 'Morgan MCDORMAND')
('HARRISON', 'BALE', 'Harrison BALE')
('DAN', 'STREEP', 'Dan STREEP')
('RENEE', 'TRACY', 'Renee TRACY')
('CUBA', 'ALLEN', 'Cuba ALLEN')
('WARREN', 'JACKMAN', 'Warren JACKMAN')
('PENELOPE', 'MONROE', 'Penelope MONROE')
('LIZA', 'BERGMAN', 'Liza BERGMAN')
('SALMA', 'NOLTE', 'Salma NOLTE')
('JULIANNE', 'DENCH', 'Julianne DENCH')
('SCARLETT', 'BENING', 'Scarlett BENING')
('ALBERT', 'NOLTE', 'Albert NOLTE')
('FRANCES', 'TOMEI', 'Frances TOMEI')
('KEVIN', 'GARLAND', 'Kevin GARLAND')
('CATE', 'MCQUEEN', 'Cate MCQUEEN')
('DARYL', 'CRAWFORD', 'Daryl CRAWFORD')
('GRETA', 'KEITEL', 'Greta KEITEL')
('JANE', 'JACKMAN', 'Jane JACKMAN')
('ADAM', 'HOPPER', 'Adam HOPPER')
('RICHARD', 'PENN', 'Richard PENN')
('GENE', 'HOPKINS', 'Gene HOPKINS')
('RITA', 'REYNOLDS', 'Rita REYNOLDS')
('ED', 'MANSFIELD', 'Ed MANSFIELD')
('MORGAN', 'WILLIAMS', 'Morgan WILLIAMS')
('LUCILLE', 'DEE', 'Lucille DEE')
('EWAN', 'GOODING', 'Ewan GOODING')
('WHOOPI', 'HURT', 'Whoopi HURT')
('CATE', 'HARRIS', 'Cate HARRIS')
('JADA', 'RYDER', 'Jada RYDER')
('RIVER', 'DEAN', 'River DEAN')
('ANGELA', 'WITHERSPOON', 'Angela WITHERSPOON')
('KIM', 'ALLEN', 'Kim ALLEN')
('ALBERT', 'JOHANSSON', 'Albert JOHANSSON')
('FAY', 'WINSLET', 'Fay WINSLET')
('EMILY', 'DEE', 'Emily DEE')
('RUSSELL', 'TEMPLE', 'Russell TEMPLE')
('JAYNE', 'NOLTE', 'Jayne NOLTE')
('GEOFFREY', 'HESTON', 'Geoffrey HESTON')
('BEN', 'HARRIS', 'Ben HARRIS')
('MINNIE', 'KILMER', 'Minnie KILMER')
('MERYL', 'GIBSON', 'Meryl GIBSON')
('IAN', 'TANDY', 'Ian TANDY')
('FAY', 'WOOD', 'Fay WOOD')
('GRETA', 'MALDEN', 'Greta MALDEN')
('VIVIEN', 'BASINGER', 'Vivien BASINGER')
('LAURA', 'BRODY', 'Laura BRODY')
('CHRIS', 'DEPP', 'Chris DEPP')
('HARVEY', 'HOPE', 'Harvey HOPE')
('OPRAH', 'KILMER', 'Oprah KILMER')
('CHRISTOPHER', 'WEST', 'Christopher WEST')
('HUMPHREY', 'WILLIS', 'Humphrey WILLIS')
('AL', 'GARLAND', 'Al GARLAND')
('NICK', 'DEGENERES', 'Nick DEGENERES')
('LAURENCE', 'BULLOCK', 'Laurence BULLOCK')
('WILL', 'WILSON', 'Will WILSON')
('KENNETH', 'HOFFMAN', 'Kenneth HOFFMAN')
('MENA', 'HOPPER', 'Mena HOPPER')
('OLYMPIA', 'PFEIFFER', 'Olympia PFEIFFER')
('GROUCHO', 'WILLIAMS', 'Groucho WILLIAMS')
('ALAN', 'DREYFUSS', 'Alan DREYFUSS')
('MICHAEL', 'BENING', 'Michael BENING')
('WILLIAM', 'HACKMAN', 'William HACKMAN')
('JON', 'CHASE', 'Jon CHASE')
('GENE', 'MCKELLEN', 'Gene MCKELLEN')
('LISA', 'MONROE', 'Lisa MONROE')
('ED', 'GUINESS', 'Ed GUINESS')
('JEFF', 'SILVERSTONE', 'Jeff SILVERSTONE')
('MATTHEW', 'CARREY', 'Matthew CARREY')
('DEBBIE', 'AKROYD', 'Debbie AKROYD')
('RUSSELL', 'CLOSE', 'Russell CLOSE')
('HUMPHREY', 'GARLAND', 'Humphrey GARLAND')
('MICHAEL', 'BOLGER', 'Michael BOLGER')
('JULIA', 'ZELLWEGER', 'Julia ZELLWEGER')
('RENEE', 'BALL', 'Renee BALL')
('ROCK', 'DUKAKIS', 'Rock DUKAKIS')
('CUBA', 'BIRCH', 'Cuba BIRCH')
('AUDREY', 'BAILEY', 'Audrey BAILEY')
('GREGORY', 'GOODING', 'Gregory GOODING')
('JOHN', 'SUVARI', 'John SUVARI')
('BURT', 'TEMPLE', 'Burt TEMPLE')
('MERYL', 'ALLEN', 'Meryl ALLEN')
('JAYNE', 'SILVERSTONE', 'Jayne SILVERSTONE')
('BELA', 'WALKEN', 'Bela WALKEN')
('REESE', 'WEST', 'Reese WEST')
('MARY', 'KEITEL', 'Mary KEITEL')
('JULIA', 'FAWCETT', 'Julia FAWCETT')
('THORA', 'TEMPLE', 'Thora TEMPLE')

In [14]:
con=engine.execute("SELECT CONCAT(UPPER(last_name), ' ',  CONCAT(LEFT(first_name,1),'',LOWER(SUBSTRING(first_name, 2, LENGTH(first_name) ) )) ) AS Actor_Name FROM actor;")
for row in con:
    print(row)

('GUINESS Penelope',)
('WAHLBERG Nick',)
('CHASE Ed',)
('DAVIS Jennifer',)
('LOLLOBRIGIDA Johnny',)
('NICHOLSON Bette',)
('MOSTEL Grace',)
('JOHANSSON Matthew',)
('SWANK Joe',)
('GABLE Christian',)
('CAGE Zero',)
('BERRY Karl',)
('WOOD Uma',)
('BERGEN Vivien',)
('OLIVIER Cuba',)
('COSTNER Fred',)
('VOIGHT Helen',)
('TORN Dan',)
('FAWCETT Bob',)
('TRACY Lucille',)
('PALTROW Kirsten',)
('MARX Elvis',)
('KILMER Sandra',)
('STREEP Cameron',)
('BLOOM Kevin',)
('CRAWFORD Rip',)
('MCQUEEN Julia',)
('HOFFMAN Woody',)
('WAYNE Alec',)
('PECK Sandra',)
('SOBIESKI Sissy',)
('HACKMAN Tim',)
('PECK Milla',)
('OLIVIER Audrey',)
('DEAN Judy',)
('DUKAKIS Burt',)
('BOLGER Val',)
('MCKELLEN Tom',)
('BRODY Goldie',)
('CAGE Johnny',)
('DEGENERES Jodie',)
('MIRANDA Tom',)
('JOVOVICH Kirk',)
('STALLONE Nick',)
('KILMER Reese',)
('GOLDBERG Parker',)
('BARRYMORE Julia',)
('DAY-LEWIS Frances',)
('CRONYN Anne',)
('HOPKINS Natalie',)
('PHOENIX Gary',)
('HUNT Carmen',)
('TEMPLE Mena',)
('PINKETT Penelope',)
('KILMER Fay',)
('HARRIS Dan',)
('CRUISE Jude',)
('AKROYD Christian',)
('TAUTOU Dustin',)
('BERRY Henry',)
('NEESON Christian',)
('NEESON Jayne',)
('WRAY Cameron',)
('JOHANSSON Ray',)
('HUDSON Angela',)
('TANDY Mary',)
('BAILEY Jessica',)
('WINSLET Rip',)
('PALTROW Kenneth',)
('MCCONAUGHEY Michelle',)
('GRANT Adam',)
('WILLIAMS Sean',)
('PENN Gary',)
('KEITEL Milla',)
('POSEY Burt',)
('ASTAIRE Angelina',)
('MCCONAUGHEY Cary',)
('SINATRA Groucho',)
('HOFFMAN Mae',)
('CRUZ Ralph',)
('DAMON Scarlett',)
('JOLIE Woody',)
('WILLIS Ben',)
('PITT James',)
('ZELLWEGER Minnie',)
('CHAPLIN Greg',)
('PECK Spencer',)
('PESCI Kenneth',)
('DENCH Charlize',)
('GUINESS Sean',)
('BERRY Christopher',)
('AKROYD Kirsten',)
('PRESLEY Ellen',)
('TORN Kenneth',)
('WAHLBERG Daryl',)
('WILLIS Gene',)
('HAWKE Meg',)
('BRIDGES Chris',)
('MOSTEL Jim',)
('DEPP Spencer',)
('DAVIS Susan',)
('TORN Walter',)
('LEIGH Matthew',)
('CRONYN Penelope',)
('CROWE Sidney',)
('DUNST Groucho',)
('DEGENERES Gina',)
('NOLTE Warren',)
('DERN Sylvester',)
('DAVIS Susan',)
('ZELLWEGER Cameron',)
('BACALL Russell',)
('HOPKINS Morgan',)
('MCDORMAND Morgan',)
('BALE Harrison',)
('STREEP Dan',)
('TRACY Renee',)
('ALLEN Cuba',)
('JACKMAN Warren',)
('MONROE Penelope',)
('BERGMAN Liza',)
('NOLTE Salma',)
('DENCH Julianne',)
('BENING Scarlett',)
('NOLTE Albert',)
('TOMEI Frances',)
('GARLAND Kevin',)
('MCQUEEN Cate',)
('CRAWFORD Daryl',)
('KEITEL Greta',)
('JACKMAN Jane',)
('HOPPER Adam',)
('PENN Richard',)
('HOPKINS Gene',)
('REYNOLDS Rita',)
('MANSFIELD Ed',)
('WILLIAMS Morgan',)
('DEE Lucille',)
('GOODING Ewan',)
('HURT Whoopi',)
('HARRIS Cate',)
('RYDER Jada',)
('DEAN River',)
('WITHERSPOON Angela',)
('ALLEN Kim',)
('JOHANSSON Albert',)
('WINSLET Fay',)
('DEE Emily',)
('TEMPLE Russell',)
('NOLTE Jayne',)
('HESTON Geoffrey',)
('HARRIS Ben',)
('KILMER Minnie',)
('GIBSON Meryl',)
('TANDY Ian',)
('WOOD Fay',)
('MALDEN Greta',)
('BASINGER Vivien',)
('BRODY Laura',)
('DEPP Chris',)
('HOPE Harvey',)
('KILMER Oprah',)
('WEST Christopher',)
('WILLIS Humphrey',)
('GARLAND Al',)
('DEGENERES Nick',)
('BULLOCK Laurence',)
('WILSON Will',)
('HOFFMAN Kenneth',)
('HOPPER Mena',)
('PFEIFFER Olympia',)
('WILLIAMS Groucho',)
('DREYFUSS Alan',)
('BENING Michael',)
('HACKMAN William',)
('CHASE Jon',)
('MCKELLEN Gene',)
('MONROE Lisa',)
('GUINESS Ed',)
('SILVERSTONE Jeff',)
('CARREY Matthew',)
('AKROYD Debbie',)
('CLOSE Russell',)
('GARLAND Humphrey',)
('BOLGER Michael',)
('ZELLWEGER Julia',)
('BALL Renee',)
('DUKAKIS Rock',)
('BIRCH Cuba',)
('BAILEY Audrey',)
('GOODING Gregory',)
('SUVARI John',)
('TEMPLE Burt',)
('ALLEN Meryl',)
('SILVERSTONE Jayne',)
('WALKEN Bela',)
('WEST Reese',)
('KEITEL Mary',)
('FAWCETT Julia',)
('TEMPLE Thora',)

In [15]:
con=engine.execute("SELECT CONCAT(last_name, ' ',ucase(left(first_name,1)),lcase(substring(first_name,2))) as Actor_Name FROM actor limit 5;")
for i in con:
    print (i)

('GUINESS Penelope',)
('WAHLBERG Nick',)
('CHASE Ed',)
('DAVIS Jennifer',)
('LOLLOBRIGIDA Johnny',)

In [16]:
con=engine.execute('SELECT CONCAT (UPPER(last_name)," ", UPPER(LEFT(first_name,1)),LOWER(SUBSTRING(first_name, 2, CHAR_LENGTH(first_name))))FROM actor;')
for row in con:
    print (row)

('GUINESS Penelope',)
('WAHLBERG Nick',)
('CHASE Ed',)
('DAVIS Jennifer',)
('LOLLOBRIGIDA Johnny',)
('NICHOLSON Bette',)
('MOSTEL Grace',)
('JOHANSSON Matthew',)
('SWANK Joe',)
('GABLE Christian',)
('CAGE Zero',)
('BERRY Karl',)
('WOOD Uma',)
('BERGEN Vivien',)
('OLIVIER Cuba',)
('COSTNER Fred',)
('VOIGHT Helen',)
('TORN Dan',)
('FAWCETT Bob',)
('TRACY Lucille',)
('PALTROW Kirsten',)
('MARX Elvis',)
('KILMER Sandra',)
('STREEP Cameron',)
('BLOOM Kevin',)
('CRAWFORD Rip',)
('MCQUEEN Julia',)
('HOFFMAN Woody',)
('WAYNE Alec',)
('PECK Sandra',)
('SOBIESKI Sissy',)
('HACKMAN Tim',)
('PECK Milla',)
('OLIVIER Audrey',)
('DEAN Judy',)
('DUKAKIS Burt',)
('BOLGER Val',)
('MCKELLEN Tom',)
('BRODY Goldie',)
('CAGE Johnny',)
('DEGENERES Jodie',)
('MIRANDA Tom',)
('JOVOVICH Kirk',)
('STALLONE Nick',)
('KILMER Reese',)
('GOLDBERG Parker',)
('BARRYMORE Julia',)
('DAY-LEWIS Frances',)
('CRONYN Anne',)
('HOPKINS Natalie',)
('PHOENIX Gary',)
('HUNT Carmen',)
('TEMPLE Mena',)
('PINKETT Penelope',)
('KILMER Fay',)
('HARRIS Dan',)
('CRUISE Jude',)
('AKROYD Christian',)
('TAUTOU Dustin',)
('BERRY Henry',)
('NEESON Christian',)
('NEESON Jayne',)
('WRAY Cameron',)
('JOHANSSON Ray',)
('HUDSON Angela',)
('TANDY Mary',)
('BAILEY Jessica',)
('WINSLET Rip',)
('PALTROW Kenneth',)
('MCCONAUGHEY Michelle',)
('GRANT Adam',)
('WILLIAMS Sean',)
('PENN Gary',)
('KEITEL Milla',)
('POSEY Burt',)
('ASTAIRE Angelina',)
('MCCONAUGHEY Cary',)
('SINATRA Groucho',)
('HOFFMAN Mae',)
('CRUZ Ralph',)
('DAMON Scarlett',)
('JOLIE Woody',)
('WILLIS Ben',)
('PITT James',)
('ZELLWEGER Minnie',)
('CHAPLIN Greg',)
('PECK Spencer',)
('PESCI Kenneth',)
('DENCH Charlize',)
('GUINESS Sean',)
('BERRY Christopher',)
('AKROYD Kirsten',)
('PRESLEY Ellen',)
('TORN Kenneth',)
('WAHLBERG Daryl',)
('WILLIS Gene',)
('HAWKE Meg',)
('BRIDGES Chris',)
('MOSTEL Jim',)
('DEPP Spencer',)
('DAVIS Susan',)
('TORN Walter',)
('LEIGH Matthew',)
('CRONYN Penelope',)
('CROWE Sidney',)
('DUNST Groucho',)
('DEGENERES Gina',)
('NOLTE Warren',)
('DERN Sylvester',)
('DAVIS Susan',)
('ZELLWEGER Cameron',)
('BACALL Russell',)
('HOPKINS Morgan',)
('MCDORMAND Morgan',)
('BALE Harrison',)
('STREEP Dan',)
('TRACY Renee',)
('ALLEN Cuba',)
('JACKMAN Warren',)
('MONROE Penelope',)
('BERGMAN Liza',)
('NOLTE Salma',)
('DENCH Julianne',)
('BENING Scarlett',)
('NOLTE Albert',)
('TOMEI Frances',)
('GARLAND Kevin',)
('MCQUEEN Cate',)
('CRAWFORD Daryl',)
('KEITEL Greta',)
('JACKMAN Jane',)
('HOPPER Adam',)
('PENN Richard',)
('HOPKINS Gene',)
('REYNOLDS Rita',)
('MANSFIELD Ed',)
('WILLIAMS Morgan',)
('DEE Lucille',)
('GOODING Ewan',)
('HURT Whoopi',)
('HARRIS Cate',)
('RYDER Jada',)
('DEAN River',)
('WITHERSPOON Angela',)
('ALLEN Kim',)
('JOHANSSON Albert',)
('WINSLET Fay',)
('DEE Emily',)
('TEMPLE Russell',)
('NOLTE Jayne',)
('HESTON Geoffrey',)
('HARRIS Ben',)
('KILMER Minnie',)
('GIBSON Meryl',)
('TANDY Ian',)
('WOOD Fay',)
('MALDEN Greta',)
('BASINGER Vivien',)
('BRODY Laura',)
('DEPP Chris',)
('HOPE Harvey',)
('KILMER Oprah',)
('WEST Christopher',)
('WILLIS Humphrey',)
('GARLAND Al',)
('DEGENERES Nick',)
('BULLOCK Laurence',)
('WILSON Will',)
('HOFFMAN Kenneth',)
('HOPPER Mena',)
('PFEIFFER Olympia',)
('WILLIAMS Groucho',)
('DREYFUSS Alan',)
('BENING Michael',)
('HACKMAN William',)
('CHASE Jon',)
('MCKELLEN Gene',)
('MONROE Lisa',)
('GUINESS Ed',)
('SILVERSTONE Jeff',)
('CARREY Matthew',)
('AKROYD Debbie',)
('CLOSE Russell',)
('GARLAND Humphrey',)
('BOLGER Michael',)
('ZELLWEGER Julia',)
('BALL Renee',)
('DUKAKIS Rock',)
('BIRCH Cuba',)
('BAILEY Audrey',)
('GOODING Gregory',)
('SUVARI John',)
('TEMPLE Burt',)
('ALLEN Meryl',)
('SILVERSTONE Jayne',)
('WALKEN Bela',)
('WEST Reese',)
('KEITEL Mary',)
('FAWCETT Julia',)
('TEMPLE Thora',)

Trouver le ou les acteurs appelé(s) "JENNIFER"

In [17]:
con=engine.execute("select * from actor where first_name='JENNIFER';")
for row in con:
    print (row)

(4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33))

In [18]:
con=engine.execute("select first_name, last_name from actor where first_name='JENNIFER';")
for row in con:
    print (row)

('JENNIFER', 'DAVIS')

Trouver les acteurs ayant des prénoms de 3 charactères.

In [19]:
con=engine.execute("select * from actor where length(first_name)=3;")
for row in con:
    print (row)

(9, 'JOE', 'SWANK', datetime.datetime(2006, 2, 15, 4, 34, 33))
(13, 'UMA', 'WOOD', datetime.datetime(2006, 2, 15, 4, 34, 33))
(18, 'DAN', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(19, 'BOB', 'FAWCETT', datetime.datetime(2006, 2, 15, 4, 34, 33))
(26, 'RIP', 'CRAWFORD', datetime.datetime(2006, 2, 15, 4, 34, 33))
(32, 'TIM', 'HACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(37, 'VAL', 'BOLGER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(38, 'TOM', 'MCKELLEN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(42, 'TOM', 'MIRANDA', datetime.datetime(2006, 2, 15, 4, 34, 33))
(55, 'FAY', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(56, 'DAN', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(64, 'RAY', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(68, 'RIP', 'WINSLET', datetime.datetime(2006, 2, 15, 4, 34, 33))
(79, 'MAE', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(83, 'BEN', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(97, 'MEG', 'HAWKE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(99, 'JIM', 'MOSTEL', datetime.datetime(2006, 2, 15, 4, 34, 33))
(116, 'DAN', 'STREEP', datetime.datetime(2006, 2, 15, 4, 34, 33))
(145, 'KIM', 'ALLEN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(147, 'FAY', 'WINSLET', datetime.datetime(2006, 2, 15, 4, 34, 33))
(152, 'BEN', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(155, 'IAN', 'TANDY', datetime.datetime(2006, 2, 15, 4, 34, 33))
(156, 'FAY', 'WOOD', datetime.datetime(2006, 2, 15, 4, 34, 33))
(176, 'JON', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33))

In [21]:
con=engine.execute("select first_name, last_name from actor where length(first_name)=3;")
for row in con:
    print (row)

('JOE', 'SWANK')
('UMA', 'WOOD')
('DAN', 'TORN')
('BOB', 'FAWCETT')
('RIP', 'CRAWFORD')
('TIM', 'HACKMAN')
('VAL', 'BOLGER')
('TOM', 'MCKELLEN')
('TOM', 'MIRANDA')
('FAY', 'KILMER')
('DAN', 'HARRIS')
('RAY', 'JOHANSSON')
('RIP', 'WINSLET')
('MAE', 'HOFFMAN')
('BEN', 'WILLIS')
('MEG', 'HAWKE')
('JIM', 'MOSTEL')
('DAN', 'STREEP')
('KIM', 'ALLEN')
('FAY', 'WINSLET')
('BEN', 'HARRIS')
('IAN', 'TANDY')
('FAY', 'WOOD')
('JON', 'CHASE')

Afficher les acteurs (actor_id, first_name, last_name, nbre char first_name, nbre char last_name )par ordre décroissant de longueur de prénoms

In [22]:
con=engine.execute("select *, length(first_name) as nb_char_first_name,length(last_name) as nb_char_last_name from actor order by nb_char_first_name desc;")
for row in con:
    print (row)

(91, 'CHRISTOPHER', 'BERRY', datetime.datetime(2006, 2, 15, 4, 34, 33), 11, 5)
(163, 'CHRISTOPHER', 'WEST', datetime.datetime(2006, 2, 15, 4, 34, 33), 11, 4)
(10, 'CHRISTIAN', 'GABLE', datetime.datetime(2006, 2, 15, 4, 34, 33), 9, 5)
(58, 'CHRISTIAN', 'AKROYD', datetime.datetime(2006, 2, 15, 4, 34, 33), 9, 6)
(61, 'CHRISTIAN', 'NEESON', datetime.datetime(2006, 2, 15, 4, 34, 33), 9, 6)
(109, 'SYLVESTER', 'DERN', datetime.datetime(2006, 2, 15, 4, 34, 33), 9, 4)
(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 7)
(4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 5)
(54, 'PENELOPE', 'PINKETT', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 7)
(70, 'MICHELLE', 'MCCONAUGHEY', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 11)
(76, 'ANGELINA', 'ASTAIRE', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 7)
(81, 'SCARLETT', 'DAMON', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 5)
(89, 'CHARLIZE', 'DENCH', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 5)
(104, 'PENELOPE', 'CRONYN', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 6)
(115, 'HARRISON', 'BALE', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 4)
(120, 'PENELOPE', 'MONROE', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 6)
(123, 'JULIANNE', 'DENCH', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 5)
(124, 'SCARLETT', 'BENING', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 6)
(151, 'GEOFFREY', 'HESTON', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 6)
(164, 'HUMPHREY', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 6)
(167, 'LAURENCE', 'BULLOCK', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 7)
(184, 'HUMPHREY', 'GARLAND', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 7)
(8, 'MATTHEW', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 9)
(20, 'LUCILLE', 'TRACY', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 5)
(21, 'KIRSTEN', 'PALTROW', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 7)
(24, 'CAMERON', 'STREEP', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 6)
(48, 'FRANCES', 'DAY-LEWIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 9)
(50, 'NATALIE', 'HOPKINS', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 7)
(63, 'CAMERON', 'WRAY', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 4)
(67, 'JESSICA', 'BAILEY', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 6)
(69, 'KENNETH', 'PALTROW', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 7)
(78, 'GROUCHO', 'SINATRA', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 7)
(87, 'SPENCER', 'PECK', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 4)
(88, 'KENNETH', 'PESCI', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 5)
(92, 'KIRSTEN', 'AKROYD', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 6)
(94, 'KENNETH', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 4)
(100, 'SPENCER', 'DEPP', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 4)
(103, 'MATTHEW', 'LEIGH', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 5)
(106, 'GROUCHO', 'DUNST', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 5)
(111, 'CAMERON', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 9)
(112, 'RUSSELL', 'BACALL', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 6)
(126, 'FRANCES', 'TOMEI', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 5)
(133, 'RICHARD', 'PENN', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 4)
(138, 'LUCILLE', 'DEE', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 3)
(149, 'RUSSELL', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 6)
(169, 'KENNETH', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 7)
(171, 'OLYMPIA', 'PFEIFFER', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 8)
(172, 'GROUCHO', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 8)
(174, 'MICHAEL', 'BENING', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 6)
(175, 'WILLIAM', 'HACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 7)
(181, 'MATTHEW', 'CARREY', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 6)
(183, 'RUSSELL', 'CLOSE', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 5)
(185, 'MICHAEL', 'BOLGER', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 6)
(191, 'GREGORY', 'GOODING', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 7)
(5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 12)
(14, 'VIVIEN', 'BERGEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 6)
(23, 'SANDRA', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 6)
(30, 'SANDRA', 'PECK', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 4)
(34, 'AUDREY', 'OLIVIER', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 7)
(39, 'GOLDIE', 'BRODY', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 5)
(40, 'JOHNNY', 'CAGE', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 4)
(46, 'PARKER', 'GOLDBERG', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 8)
(52, 'CARMEN', 'HUNT', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 4)
(59, 'DUSTIN', 'TAUTOU', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 6)
(65, 'ANGELA', 'HUDSON', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 6)
(85, 'MINNIE', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 9)
(102, 'WALTER', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 4)
(105, 'SIDNEY', 'CROWE', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 5)
(108, 'WARREN', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 5)
(113, 'MORGAN', 'HOPKINS', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 7)
(114, 'MORGAN', 'MCDORMAND', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 9)
(119, 'WARREN', 'JACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 7)
(125, 'ALBERT', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 5)
(137, 'MORGAN', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 8)
(140, 'WHOOPI', 'HURT', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 4)
(144, 'ANGELA', 'WITHERSPOON', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 11)
(146, 'ALBERT', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 9)
(153, 'MINNIE', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 6)
(158, 'VIVIEN', 'BASINGER', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 8)
(161, 'HARVEY', 'HOPE', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 4)
(182, 'DEBBIE', 'AKROYD', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 6)
(190, 'AUDREY', 'BAILEY', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 6)
(6, 'BETTE', 'NICHOLSON', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 9)
(7, 'GRACE', 'MOSTEL', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(17, 'HELEN', 'VOIGHT', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(22, 'ELVIS', 'MARX', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 4)
(25, 'KEVIN', 'BLOOM', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(27, 'JULIA', 'MCQUEEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 7)
(28, 'WOODY', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 7)
(31, 'SISSY', 'SOBIESKI', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 8)
(33, 'MILLA', 'PECK', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 4)
(41, 'JODIE', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 9)
(45, 'REESE', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(47, 'JULIA', 'BARRYMORE', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 9)
(60, 'HENRY', 'BERRY', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(62, 'JAYNE', 'NEESON', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(74, 'MILLA', 'KEITEL', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(80, 'RALPH', 'CRUZ', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 4)
(82, 'WOODY', 'JOLIE', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(84, 'JAMES', 'PITT', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 4)
(93, 'ELLEN', 'PRESLEY', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 7)
(95, 'DARYL', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 8)
(98, 'CHRIS', 'BRIDGES', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 7)
(101, 'SUSAN', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(110, 'SUSAN', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(117, 'RENEE', 'TRACY', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(122, 'SALMA', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(127, 'KEVIN', 'GARLAND', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 7)
(129, 'DARYL', 'CRAWFORD', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 8)
(130, 'GRETA', 'KEITEL', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(143, 'RIVER', 'DEAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 4)
(148, 'EMILY', 'DEE', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 3)
(150, 'JAYNE', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(154, 'MERYL', 'GIBSON', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(157, 'GRETA', 'MALDEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(159, 'LAURA', 'BRODY', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(160, 'CHRIS', 'DEPP', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 4)
(162, 'OPRAH', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(186, 'JULIA', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 9)
(187, 'RENEE', 'BALL', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 4)
(194, 'MERYL', 'ALLEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(195, 'JAYNE', 'SILVERSTONE', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 11)
(197, 'REESE', 'WEST', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 4)
(199, 'JULIA', 'FAWCETT', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 7)
(200, 'THORA', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 8)
(11, 'ZERO', 'CAGE', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 4)
(12, 'KARL', 'BERRY', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 5)
(15, 'CUBA', 'OLIVIER', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(16, 'FRED', 'COSTNER', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(29, 'ALEC', 'WAYNE', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 5)
(35, 'JUDY', 'DEAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 4)
(36, 'BURT', 'DUKAKIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(43, 'KIRK', 'JOVOVICH', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 8)
(44, 'NICK', 'STALLONE', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 8)
(49, 'ANNE', 'CRONYN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(51, 'GARY', 'PHOENIX', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(53, 'MENA', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(57, 'JUDE', 'CRUISE', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(66, 'MARY', 'TANDY', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 5)
(71, 'ADAM', 'GRANT', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 5)
(72, 'SEAN', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 8)
(73, 'GARY', 'PENN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 4)
(75, 'BURT', 'POSEY', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 5)
(77, 'CARY', 'MCCONAUGHEY', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 11)
(86, 'GREG', 'CHAPLIN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(90, 'SEAN', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(96, 'GENE', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(107, 'GINA', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 9)
(118, 'CUBA', 'ALLEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 5)
(121, 'LIZA', 'BERGMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(128, 'CATE', 'MCQUEEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(131, 'JANE', 'JACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(132, 'ADAM', 'HOPPER', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(134, 'GENE', 'HOPKINS', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(135, 'RITA', 'REYNOLDS', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 8)
(139, 'EWAN', 'GOODING', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(141, 'CATE', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(142, 'JADA', 'RYDER', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 5)
(166, 'NICK', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 9)
(168, 'WILL', 'WILSON', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(170, 'MENA', 'HOPPER', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(173, 'ALAN', 'DREYFUSS', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 8)
(177, 'GENE', 'MCKELLEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 8)
(178, 'LISA', 'MONROE', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(180, 'JEFF', 'SILVERSTONE', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 11)
(188, 'ROCK', 'DUKAKIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(189, 'CUBA', 'BIRCH', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 5)
(192, 'JOHN', 'SUVARI', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(193, 'BURT', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(196, 'BELA', 'WALKEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(198, 'MARY', 'KEITEL', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(9, 'JOE', 'SWANK', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 5)
(13, 'UMA', 'WOOD', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 4)
(18, 'DAN', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 4)
(19, 'BOB', 'FAWCETT', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 7)
(26, 'RIP', 'CRAWFORD', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 8)
(32, 'TIM', 'HACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 7)
(37, 'VAL', 'BOLGER', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 6)
(38, 'TOM', 'MCKELLEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 8)
(42, 'TOM', 'MIRANDA', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 7)
(55, 'FAY', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 6)
(56, 'DAN', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 6)
(64, 'RAY', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 9)
(68, 'RIP', 'WINSLET', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 7)
(79, 'MAE', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 7)
(83, 'BEN', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 6)
(97, 'MEG', 'HAWKE', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 5)
(99, 'JIM', 'MOSTEL', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 6)
(116, 'DAN', 'STREEP', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 6)
(145, 'KIM', 'ALLEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 5)
(147, 'FAY', 'WINSLET', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 7)
(152, 'BEN', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 6)
(155, 'IAN', 'TANDY', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 5)
(156, 'FAY', 'WOOD', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 4)
(176, 'JON', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 5)
(3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33), 2, 5)
(136, 'ED', 'MANSFIELD', datetime.datetime(2006, 2, 15, 4, 34, 33), 2, 9)
(165, 'AL', 'GARLAND', datetime.datetime(2006, 2, 15, 4, 34, 33), 2, 7)
(179, 'ED', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33), 2, 7)

Afficher les acteurs (actor_id, first_name, last_name, nbre char first_name, nbre char last_name )par ordre décroissant de longueur de prénoms et croissant de longuer de noms

In [23]:
con=engine.execute("select *, length(first_name) as nb_char_first_name,length(last_name) as nb_char_last_name from actor order by nb_char_first_name desc,nb_char_last_name asc;")
for row in con:
    print (row)

(163, 'CHRISTOPHER', 'WEST', datetime.datetime(2006, 2, 15, 4, 34, 33), 11, 4)
(91, 'CHRISTOPHER', 'BERRY', datetime.datetime(2006, 2, 15, 4, 34, 33), 11, 5)
(109, 'SYLVESTER', 'DERN', datetime.datetime(2006, 2, 15, 4, 34, 33), 9, 4)
(10, 'CHRISTIAN', 'GABLE', datetime.datetime(2006, 2, 15, 4, 34, 33), 9, 5)
(58, 'CHRISTIAN', 'AKROYD', datetime.datetime(2006, 2, 15, 4, 34, 33), 9, 6)
(61, 'CHRISTIAN', 'NEESON', datetime.datetime(2006, 2, 15, 4, 34, 33), 9, 6)
(115, 'HARRISON', 'BALE', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 4)
(4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 5)
(81, 'SCARLETT', 'DAMON', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 5)
(89, 'CHARLIZE', 'DENCH', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 5)
(123, 'JULIANNE', 'DENCH', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 5)
(104, 'PENELOPE', 'CRONYN', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 6)
(120, 'PENELOPE', 'MONROE', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 6)
(124, 'SCARLETT', 'BENING', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 6)
(151, 'GEOFFREY', 'HESTON', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 6)
(164, 'HUMPHREY', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 6)
(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 7)
(54, 'PENELOPE', 'PINKETT', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 7)
(76, 'ANGELINA', 'ASTAIRE', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 7)
(167, 'LAURENCE', 'BULLOCK', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 7)
(184, 'HUMPHREY', 'GARLAND', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 7)
(70, 'MICHELLE', 'MCCONAUGHEY', datetime.datetime(2006, 2, 15, 4, 34, 33), 8, 11)
(138, 'LUCILLE', 'DEE', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 3)
(63, 'CAMERON', 'WRAY', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 4)
(87, 'SPENCER', 'PECK', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 4)
(94, 'KENNETH', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 4)
(100, 'SPENCER', 'DEPP', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 4)
(133, 'RICHARD', 'PENN', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 4)
(20, 'LUCILLE', 'TRACY', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 5)
(88, 'KENNETH', 'PESCI', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 5)
(103, 'MATTHEW', 'LEIGH', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 5)
(106, 'GROUCHO', 'DUNST', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 5)
(126, 'FRANCES', 'TOMEI', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 5)
(183, 'RUSSELL', 'CLOSE', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 5)
(24, 'CAMERON', 'STREEP', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 6)
(67, 'JESSICA', 'BAILEY', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 6)
(92, 'KIRSTEN', 'AKROYD', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 6)
(112, 'RUSSELL', 'BACALL', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 6)
(149, 'RUSSELL', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 6)
(174, 'MICHAEL', 'BENING', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 6)
(181, 'MATTHEW', 'CARREY', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 6)
(185, 'MICHAEL', 'BOLGER', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 6)
(21, 'KIRSTEN', 'PALTROW', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 7)
(50, 'NATALIE', 'HOPKINS', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 7)
(69, 'KENNETH', 'PALTROW', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 7)
(78, 'GROUCHO', 'SINATRA', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 7)
(169, 'KENNETH', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 7)
(175, 'WILLIAM', 'HACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 7)
(191, 'GREGORY', 'GOODING', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 7)
(171, 'OLYMPIA', 'PFEIFFER', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 8)
(172, 'GROUCHO', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 8)
(8, 'MATTHEW', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 9)
(48, 'FRANCES', 'DAY-LEWIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 9)
(111, 'CAMERON', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 4, 34, 33), 7, 9)
(30, 'SANDRA', 'PECK', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 4)
(40, 'JOHNNY', 'CAGE', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 4)
(52, 'CARMEN', 'HUNT', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 4)
(102, 'WALTER', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 4)
(140, 'WHOOPI', 'HURT', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 4)
(161, 'HARVEY', 'HOPE', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 4)
(39, 'GOLDIE', 'BRODY', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 5)
(105, 'SIDNEY', 'CROWE', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 5)
(108, 'WARREN', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 5)
(125, 'ALBERT', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 5)
(14, 'VIVIEN', 'BERGEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 6)
(23, 'SANDRA', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 6)
(59, 'DUSTIN', 'TAUTOU', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 6)
(65, 'ANGELA', 'HUDSON', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 6)
(153, 'MINNIE', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 6)
(182, 'DEBBIE', 'AKROYD', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 6)
(190, 'AUDREY', 'BAILEY', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 6)
(34, 'AUDREY', 'OLIVIER', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 7)
(113, 'MORGAN', 'HOPKINS', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 7)
(119, 'WARREN', 'JACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 7)
(46, 'PARKER', 'GOLDBERG', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 8)
(137, 'MORGAN', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 8)
(158, 'VIVIEN', 'BASINGER', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 8)
(85, 'MINNIE', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 9)
(114, 'MORGAN', 'MCDORMAND', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 9)
(146, 'ALBERT', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 9)
(144, 'ANGELA', 'WITHERSPOON', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 11)
(5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33), 6, 12)
(148, 'EMILY', 'DEE', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 3)
(22, 'ELVIS', 'MARX', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 4)
(33, 'MILLA', 'PECK', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 4)
(80, 'RALPH', 'CRUZ', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 4)
(84, 'JAMES', 'PITT', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 4)
(143, 'RIVER', 'DEAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 4)
(160, 'CHRIS', 'DEPP', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 4)
(187, 'RENEE', 'BALL', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 4)
(197, 'REESE', 'WEST', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 4)
(25, 'KEVIN', 'BLOOM', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(60, 'HENRY', 'BERRY', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(82, 'WOODY', 'JOLIE', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(101, 'SUSAN', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(110, 'SUSAN', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(117, 'RENEE', 'TRACY', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(122, 'SALMA', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(150, 'JAYNE', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(159, 'LAURA', 'BRODY', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(194, 'MERYL', 'ALLEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 5)
(7, 'GRACE', 'MOSTEL', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(17, 'HELEN', 'VOIGHT', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(45, 'REESE', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(62, 'JAYNE', 'NEESON', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(74, 'MILLA', 'KEITEL', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(130, 'GRETA', 'KEITEL', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(154, 'MERYL', 'GIBSON', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(157, 'GRETA', 'MALDEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(162, 'OPRAH', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(200, 'THORA', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 6)
(27, 'JULIA', 'MCQUEEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 7)
(28, 'WOODY', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 7)
(93, 'ELLEN', 'PRESLEY', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 7)
(98, 'CHRIS', 'BRIDGES', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 7)
(127, 'KEVIN', 'GARLAND', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 7)
(199, 'JULIA', 'FAWCETT', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 7)
(31, 'SISSY', 'SOBIESKI', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 8)
(95, 'DARYL', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 8)
(129, 'DARYL', 'CRAWFORD', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 8)
(6, 'BETTE', 'NICHOLSON', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 9)
(41, 'JODIE', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 9)
(47, 'JULIA', 'BARRYMORE', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 9)
(186, 'JULIA', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 9)
(195, 'JAYNE', 'SILVERSTONE', datetime.datetime(2006, 2, 15, 4, 34, 33), 5, 11)
(11, 'ZERO', 'CAGE', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 4)
(35, 'JUDY', 'DEAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 4)
(73, 'GARY', 'PENN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 4)
(12, 'KARL', 'BERRY', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 5)
(29, 'ALEC', 'WAYNE', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 5)
(66, 'MARY', 'TANDY', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 5)
(71, 'ADAM', 'GRANT', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 5)
(75, 'BURT', 'POSEY', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 5)
(118, 'CUBA', 'ALLEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 5)
(142, 'JADA', 'RYDER', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 5)
(189, 'CUBA', 'BIRCH', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 5)
(49, 'ANNE', 'CRONYN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(53, 'MENA', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(57, 'JUDE', 'CRUISE', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(96, 'GENE', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(132, 'ADAM', 'HOPPER', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(141, 'CATE', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(168, 'WILL', 'WILSON', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(170, 'MENA', 'HOPPER', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(178, 'LISA', 'MONROE', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(192, 'JOHN', 'SUVARI', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(193, 'BURT', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(196, 'BELA', 'WALKEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(198, 'MARY', 'KEITEL', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 6)
(15, 'CUBA', 'OLIVIER', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(16, 'FRED', 'COSTNER', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(36, 'BURT', 'DUKAKIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(51, 'GARY', 'PHOENIX', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(86, 'GREG', 'CHAPLIN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(90, 'SEAN', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(121, 'LIZA', 'BERGMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(128, 'CATE', 'MCQUEEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(131, 'JANE', 'JACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(134, 'GENE', 'HOPKINS', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(139, 'EWAN', 'GOODING', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(188, 'ROCK', 'DUKAKIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 7)
(2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 8)
(43, 'KIRK', 'JOVOVICH', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 8)
(44, 'NICK', 'STALLONE', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 8)
(72, 'SEAN', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 8)
(135, 'RITA', 'REYNOLDS', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 8)
(173, 'ALAN', 'DREYFUSS', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 8)
(177, 'GENE', 'MCKELLEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 8)
(107, 'GINA', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 9)
(166, 'NICK', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 9)
(77, 'CARY', 'MCCONAUGHEY', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 11)
(180, 'JEFF', 'SILVERSTONE', datetime.datetime(2006, 2, 15, 4, 34, 33), 4, 11)
(13, 'UMA', 'WOOD', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 4)
(18, 'DAN', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 4)
(156, 'FAY', 'WOOD', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 4)
(9, 'JOE', 'SWANK', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 5)
(97, 'MEG', 'HAWKE', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 5)
(145, 'KIM', 'ALLEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 5)
(155, 'IAN', 'TANDY', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 5)
(176, 'JON', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 5)
(37, 'VAL', 'BOLGER', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 6)
(55, 'FAY', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 6)
(56, 'DAN', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 6)
(83, 'BEN', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 6)
(99, 'JIM', 'MOSTEL', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 6)
(116, 'DAN', 'STREEP', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 6)
(152, 'BEN', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 6)
(19, 'BOB', 'FAWCETT', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 7)
(32, 'TIM', 'HACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 7)
(42, 'TOM', 'MIRANDA', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 7)
(68, 'RIP', 'WINSLET', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 7)
(79, 'MAE', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 7)
(147, 'FAY', 'WINSLET', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 7)
(26, 'RIP', 'CRAWFORD', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 8)
(38, 'TOM', 'MCKELLEN', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 8)
(64, 'RAY', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33), 3, 9)
(3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33), 2, 5)
(165, 'AL', 'GARLAND', datetime.datetime(2006, 2, 15, 4, 34, 33), 2, 7)
(179, 'ED', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33), 2, 7)
(136, 'ED', 'MANSFIELD', datetime.datetime(2006, 2, 15, 4, 34, 33), 2, 9)

Trouver les acteurs ayant dans leurs last_names la chaine: "SON

In [29]:
con=engine.execute("select * from actor where last_name like '%%SON%%';")
for row in con:
    print (row)

(6, 'BETTE', 'NICHOLSON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(8, 'MATTHEW', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(61, 'CHRISTIAN', 'NEESON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(62, 'JAYNE', 'NEESON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(64, 'RAY', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(65, 'ANGELA', 'HUDSON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(146, 'ALBERT', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(154, 'MERYL', 'GIBSON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(168, 'WILL', 'WILSON', datetime.datetime(2006, 2, 15, 4, 34, 33))

Trouver les acteurs ayant des last_names commençant par la chaine: "JOH"

In [30]:
con=engine.execute("select * from actor where last_name like 'JOH%%';")
for row in con:
    print (row)

(8, 'MATTHEW', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(64, 'RAY', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(146, 'ALBERT', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33))

 Afficher par ordre alphabétique croissant les last_names et les first_names des acteurs ayant dans leurs last_names la chaine "LI"

In [32]:
con=engine.execute("select * from actor where last_name like '%%LI%%' order by last_name asc, first_name asc;")
for row in con:
    print (row)

(86, 'GREG', 'CHAPLIN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(82, 'WOODY', 'JOLIE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(34, 'AUDREY', 'OLIVIER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(15, 'CUBA', 'OLIVIER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(172, 'GROUCHO', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(137, 'MORGAN', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(72, 'SEAN', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(83, 'BEN', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(96, 'GENE', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(164, 'HUMPHREY', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33))

trouver dans la table country les countries "China", "Afghanistan", "Bangladesh"

In [33]:
con=engine.execute("select * from country where country in ('China','Afghanistan','Bangladesh');")
for row in con:
    print (row)

(1, 'Afghanistan', datetime.datetime(2006, 2, 15, 4, 44))
(12, 'Bangladesh', datetime.datetime(2006, 2, 15, 4, 44))
(23, 'China', datetime.datetime(2006, 2, 15, 4, 44))

In [38]:
con=engine.execute("select * from country where country = 'China' or country='Afghanistan' or country='Bangladesh';")
for row in con:
    print (row)

(1, 'Afghanistan', datetime.datetime(2006, 2, 15, 4, 44))
(12, 'Bangladesh', datetime.datetime(2006, 2, 15, 4, 44))
(23, 'China', datetime.datetime(2006, 2, 15, 4, 44))

Ajouter une colonne middle_name entre les colonnes first_name et last_name

In [45]:
engine.execute("alter table actor add middle_name varchar(255) after first_name;")#il faudrait un test pour if exist drop (trop chiant:p)

In [48]:
con=engine.execute("select * from actor limit 5;")
for row in con:
    print(row)

(1, 'PENELOPE', None, 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(2, 'NICK', None, 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33))
(3, 'ED', None, 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(4, 'JENNIFER', None, 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(5, 'JOHNNY', None, 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33))

 Changer le data type de la colonne middle_name au type blobs

In [47]:
con=engine.execute("alter table actor modify column middle_name blob;")

Supprimer la colonne middle_name

In [49]:
engine.execute("alter table actor drop column middle_name;")

In [50]:
con=engine.execute("select * from actor limit 5;")
for row in con:
    print (row)

(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33))
(3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33))

Trouver le nombre des acteurs ayant le meme last_name
Afficher le resultat  par ordre décroissant

In [55]:
con=engine.execute("select last_name, count(last_name) as count from actor group by last_name having count>1 order by last_name desc")
for i in con:
    print(i)

('ZELLWEGER', 3)
('WOOD', 2)
('WINSLET', 2)
('WILLIS', 3)
('WILLIAMS', 3)
('WEST', 2)
('WAHLBERG', 2)
('TRACY', 2)
('TORN', 3)
('TEMPLE', 4)
('TANDY', 2)
('STREEP', 2)
('SILVERSTONE', 2)
('PENN', 2)
('PECK', 3)
('PALTROW', 2)
('OLIVIER', 2)
('NOLTE', 4)
('NEESON', 2)
('MOSTEL', 2)
('MONROE', 2)
('MCQUEEN', 2)
('MCKELLEN', 2)
('MCCONAUGHEY', 2)
('KILMER', 5)
('KEITEL', 3)
('JOHANSSON', 3)
('JACKMAN', 2)
('HOPPER', 2)
('HOPKINS', 3)
('HOFFMAN', 3)
('HARRIS', 3)
('HACKMAN', 2)
('GUINESS', 3)
('GOODING', 2)
('GARLAND', 3)
('FAWCETT', 2)
('DUKAKIS', 2)
('DEPP', 2)
('DENCH', 2)
('DEGENERES', 3)
('DEE', 2)
('DEAN', 2)
('DAVIS', 3)
('CRONYN', 2)
('CRAWFORD', 2)
('CHASE', 2)
('CAGE', 2)
('BRODY', 2)
('BOLGER', 2)
('BERRY', 3)
('BENING', 2)
('BAILEY', 2)
('ALLEN', 3)
('AKROYD', 3)

In [51]:
con=engine.execute("select last_name, count(last_name) as cfn from actor group by last_name order by cfn desc;")
for row in con:
    print (row)

('KILMER', 5)
('NOLTE', 4)
('TEMPLE', 4)
('ALLEN', 3)
('GUINESS', 3)
('KEITEL', 3)
('WILLIAMS', 3)
('AKROYD', 3)
('BERRY', 3)
('GARLAND', 3)
('HOPKINS', 3)
('PECK', 3)
('ZELLWEGER', 3)
('DAVIS', 3)
('DEGENERES', 3)
('HARRIS', 3)
('HOFFMAN', 3)
('JOHANSSON', 3)
('TORN', 3)
('WILLIS', 3)
('BENING', 2)
('BRODY', 2)
('CRAWFORD', 2)
('DEAN', 2)
('DEPP', 2)
('HOPPER', 2)
('JACKMAN', 2)
('MONROE', 2)
('PENN', 2)
('WAHLBERG', 2)
('BAILEY', 2)
('DENCH', 2)
('DUKAKIS', 2)
('MCCONAUGHEY', 2)
('WEST', 2)
('WINSLET', 2)
('BOLGER', 2)
('CAGE', 2)
('GOODING', 2)
('MCQUEEN', 2)
('NEESON', 2)
('PALTROW', 2)
('SILVERSTONE', 2)
('STREEP', 2)
('TRACY', 2)
('CHASE', 2)
('CRONYN', 2)
('DEE', 2)
('FAWCETT', 2)
('HACKMAN', 2)
('MCKELLEN', 2)
('MOSTEL', 2)
('OLIVIER', 2)
('TANDY', 2)
('WOOD', 2)
('BALE', 1)
('BIRCH', 1)
('CHAPLIN', 1)
('CRUZ', 1)
('DUNST', 1)
('GIBSON', 1)
('HESTON', 1)
('MALDEN', 1)
('MCDORMAND', 1)
('PINKETT', 1)
('REYNOLDS', 1)
('SOBIESKI', 1)
('SWANK', 1)
('TOMEI', 1)
('WITHERSPOON', 1)
('BASINGER', 1)
('BRIDGES', 1)
('CARREY', 1)
('COSTNER', 1)
('CRUISE', 1)
('DAY-LEWIS', 1)
('GRANT', 1)
('HAWKE', 1)
('HURT', 1)
('JOVOVICH', 1)
('LOLLOBRIGIDA', 1)
('MIRANDA', 1)
('NICHOLSON', 1)
('PHOENIX', 1)
('PRESLEY', 1)
('SINATRA', 1)
('SUVARI', 1)
('VOIGHT', 1)
('BACALL', 1)
('BARRYMORE', 1)
('BERGMAN', 1)
('CLOSE', 1)
('CROWE', 1)
('DREYFUSS', 1)
('GABLE', 1)
('HOPE', 1)
('HUNT', 1)
('JOLIE', 1)
('LEIGH', 1)
('MARX', 1)
('PFEIFFER', 1)
('POSEY', 1)
('TAUTOU', 1)
('WAYNE', 1)
('WILSON', 1)
('WRAY', 1)
('ASTAIRE', 1)
('BALL', 1)
('BERGEN', 1)
('BLOOM', 1)
('BULLOCK', 1)
('DAMON', 1)
('DERN', 1)
('GOLDBERG', 1)
('HUDSON', 1)
('MANSFIELD', 1)
('PESCI', 1)
('PITT', 1)
('RYDER', 1)
('STALLONE', 1)
('WALKEN', 1)

Trouver le nombre des acteurs ayant le meme last_name
Afficher UNIQUEMENT les last_names communs à au moins 3 acteurs 
Afficher par ordre alph. croissant

In [56]:
con=engine.execute("select last_name, count(last_name) as cfn from actor group by last_name having(count(last_name)>=3)order by last_name asc;")
for row in con:
    print (row)

('AKROYD', 3)
('ALLEN', 3)
('BERRY', 3)
('DAVIS', 3)
('DEGENERES', 3)
('GARLAND', 3)
('GUINESS', 3)
('HARRIS', 3)
('HOFFMAN', 3)
('HOPKINS', 3)
('JOHANSSON', 3)
('KEITEL', 3)
('KILMER', 5)
('NOLTE', 4)
('PECK', 3)
('TEMPLE', 4)
('TORN', 3)
('WILLIAMS', 3)
('WILLIS', 3)
('ZELLWEGER', 3)

Trouver le nombre des acteurs ayant le meme first_name Afficher le resultat par ordre alph. croissant

In [57]:
con=engine.execute("select first_name, count(first_name) as cfn from actor group by first_name order by first_name asc;")
for row in con:
    print (row)

('ADAM', 2)
('AL', 1)
('ALAN', 1)
('ALBERT', 2)
('ALEC', 1)
('ANGELA', 2)
('ANGELINA', 1)
('ANNE', 1)
('AUDREY', 2)
('BELA', 1)
('BEN', 2)
('BETTE', 1)
('BOB', 1)
('BURT', 3)
('CAMERON', 3)
('CARMEN', 1)
('CARY', 1)
('CATE', 2)
('CHARLIZE', 1)
('CHRIS', 2)
('CHRISTIAN', 3)
('CHRISTOPHER', 2)
('CUBA', 3)
('DAN', 3)
('DARYL', 2)
('DEBBIE', 1)
('DUSTIN', 1)
('ED', 3)
('ELLEN', 1)
('ELVIS', 1)
('EMILY', 1)
('EWAN', 1)
('FAY', 3)
('FRANCES', 2)
('FRED', 1)
('GARY', 2)
('GENE', 3)
('GEOFFREY', 1)
('GINA', 1)
('GOLDIE', 1)
('GRACE', 1)
('GREG', 1)
('GREGORY', 1)
('GRETA', 2)
('GROUCHO', 3)
('HARRISON', 1)
('HARVEY', 1)
('HELEN', 1)
('HENRY', 1)
('HUMPHREY', 2)
('IAN', 1)
('JADA', 1)
('JAMES', 1)
('JANE', 1)
('JAYNE', 3)
('JEFF', 1)
('JENNIFER', 1)
('JESSICA', 1)
('JIM', 1)
('JODIE', 1)
('JOE', 1)
('JOHN', 1)
('JOHNNY', 2)
('JON', 1)
('JUDE', 1)
('JUDY', 1)
('JULIA', 4)
('JULIANNE', 1)
('KARL', 1)
('KENNETH', 4)
('KEVIN', 2)
('KIM', 1)
('KIRK', 1)
('KIRSTEN', 2)
('LAURA', 1)
('LAURENCE', 1)
('LISA', 1)
('LIZA', 1)
('LUCILLE', 2)
('MAE', 1)
('MARY', 2)
('MATTHEW', 3)
('MEG', 1)
('MENA', 2)
('MERYL', 2)
('MICHAEL', 2)
('MICHELLE', 1)
('MILLA', 2)
('MINNIE', 2)
('MORGAN', 3)
('NATALIE', 1)
('NICK', 3)
('OLYMPIA', 1)
('OPRAH', 1)
('PARKER', 1)
('PENELOPE', 4)
('RALPH', 1)
('RAY', 1)
('REESE', 2)
('RENEE', 2)
('RICHARD', 1)
('RIP', 2)
('RITA', 1)
('RIVER', 1)
('ROCK', 1)
('RUSSELL', 3)
('SALMA', 1)
('SANDRA', 2)
('SCARLETT', 2)
('SEAN', 2)
('SIDNEY', 1)
('SISSY', 1)
('SPENCER', 2)
('SUSAN', 2)
('SYLVESTER', 1)
('THORA', 1)
('TIM', 1)
('TOM', 2)
('UMA', 1)
('VAL', 1)
('VIVIEN', 2)
('WALTER', 1)
('WARREN', 2)
('WHOOPI', 1)
('WILL', 1)
('WILLIAM', 1)
('WOODY', 2)
('ZERO', 1)

Insérer dans la table actor ,un nouvel acteur , faites attention à l'id!

In [58]:
engine.execute("insert into actor (first_name,last_name) values ('laien','wu')");

In [68]:
con=engine.execute('select * from actor order by actor_id desc limit 1;')
for row in con:
    print (row);

(201, 'jean', 'wu', datetime.datetime(2020, 2, 10, 11, 33, 2))

Modifier le first_name du nouvel acteur à "Jean"

In [72]:
%load_ext sql
%sql mysql://root:azerty012345@localhost/sakila

'Connected: root@sakila'

In [82]:
%%sql
update actor
set first_name = 'Jean'
where actor_id = (select * from (select max(actor_id)from actor) as maxi);

 * mysql://root:***@localhost/sakila
1 rows affected.

[]

In [85]:
%%sql
select count(*) from actor;

 * mysql://root:***@localhost/sakila
1 rows affected.

[(200,)]

In [59]:
engine.execute("update actor set first_name='jean' where actor_id=201")

In [ ]:
con=engine.execute("select * from actor order by actor_id desc limit 3")
for row in con:
    print(row)

Supprimer le dernier acteur inséré de la table actor

In [69]:
engine.execute("delete from actor where actor_id>200")

In [70]:
con=engine.execute("select * from actor order by actor_id desc limit 3;")
for row in con:
    print(row)

(200, 'THORA', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(199, 'JULIA', 'FAWCETT', datetime.datetime(2006, 2, 15, 4, 34, 33))
(198, 'MARY', 'KEITEL', datetime.datetime(2006, 2, 15, 4, 34, 33))

### SQL & Pandas
#### Refaire tout en pandas
##### Charger la BDD dans un DataFrame et appliquer les requetes ci dessus ..
Utiliser: 
* read_sql_table
    Read SQL database table into a DataFrame.
* read_sql_query
    Read SQL query into a DataFrame.

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_sql('actor',engine,index_col='actor_id')
df.head()

In [ ]:
#pd.read_sql('staff',engine).to_csv('ton_staff.csv')

In [ ]:
df['Actor_name']=df.first_name.values+' '+df.last_name.values
df.tail()

In [ ]:
df['Actor_name']=df.first_name.str.capitalize()+' '+df.last_name.str.upper()
df.head()

In [ ]:
df.last_name.value_counts()[df.last_name.value_counts().values>2]

In [125]:
liste=["select * from actor limit 5;",
       "select first_name, last_name, concat(first_name,' ',last_name) as Actor_name from actor;",
       "select first_name, last_name, concat(first_name,' ',upper(last_name)) as Actor_name from actor;",
       "select first_name, last_name, concat(concat(upper(left(first_name,1)),lower(substring(first_name,2))),' ' ,upper(last_name)) as Actor_name from actor;",
       "select * from actor where first_name='JENNIFER';",
       "select * from actor where length(first_name)=3;",
       "select *, length(first_name) as nb_char_first_name,length(last_name) as nb_char_last_name from actor order by nb_char_first_name desc;",
       "select *, length(first_name) as nb_char_first_name,length(last_name) as nb_char_last_name from actor order by nb_char_first_name desc,nb_char_last_name asc;",
       "select * from actor where last_name like '%SON%';",
       "select * from actor where last_name like 'JOH%';",
       "select * from actor where last_name like '%LI%' order by last_name asc, first_name asc;",
       "select * from country where country in ('China','Afghanistan','Bangladesh');",
       "alter table actor add middle_name varchar(255);",
       "select * from actor limit 5;",
       "alter table actor modify column middle_name blob;",
       "alter table actor drop column middle_name;",
       "select * from actor limit 5;",
       "select last_name, count(last_name) as cfn from actor group by last_name order by cfn desc;",
       "select last_name, count(last_name) as cfn from actor group by last_name having(count(last_name)>=3)order by last_name asc;",
       "select first_name, count(first_name) as cfn from actor group by first_name order by first_name asc;",
       "insert into actor (first_name,last_name) values ('laien','wu')",
       "update actor set first_name='jean' where actor_id=201",
       "select * from actor order by actor_id desc limit 3",
       "delete from actor where actor_id>200",
       "select * from actor order by actor_id desc limit 3;"
]

In [168]:
liste_sh=[f'echo "{i}"\n$BASE_SQL_COMMAND "{i}" 2>&1 | grep -v "Warning"\n\necho "{i}"\nread -n 1' for i in liste]

In [169]:
with open('sakila_script.sh','w')as f:
    f.write("#/bin/bash\n")
    f.write("BASE_SQL_COMMAND='mysql -u root --password=azerty012345 -D sakila --table -e'\n\n\n")
    for item in liste_sh:
        f.write(f'{item}\n')

In [173]:
with open('liste_des_queries','w')as f:
    f.write("#/bin/bash\n")
    f.write("BASE_SQL_COMMAND='mysql -u root --password=azerty012345 -D sakila --table -e'\n\n\n")
    for item in liste:
        f.write(f'{item}\n')